<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>深海微光-台南應用科技大學多媒體動畫系112級畢業製作</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/index.js" defer></script>
        <link rel="shortcut icon" href="/images/indeximg/icon-2.png">
    </head>

<body>
    <main class="bkimg">
        <!-- hello world -->
        
        <div id="bgv">
            <video muted autoplay loop playsinline src="/images/indeximg/1.mp4"></video>
            <video muted autoplay loop playsinline src="/images/indeximg/2.mp4"></video>
        </div>

        <div id="light-container"></div>

        <img id="fish" src="/images/indeximg/安康魚.png" alt="">
        <img id="logo-2" src="/images/indeximg/標準字.png" alt="">
        <img id="logo-2-" src="/images/indeximg/標準字-.png" alt="">

        <div id="content">
            <img id="logo" src="/images/indeximg/LOGO.png" alt="">
            <p id="global-num">
                0
            </p>
            
            <p id="local-num">
                0
            </p>
            
            <input type="text" id="sitd-input" placeholder="被發現了" hidden>
            
            
            <button id="big-btn" class="image-btn">
                <img src="/images/indeximg/你給我動2.png" alt="">
            </button>
            
            
        </div>
        
        <button id="fb-btn" class="image-btn">
            <img src="/images/indeximg/左左.png" alt="">
        </button>
        
        <button id="ig-btn" class="image-btn">
            <img src="/images/indeximg/右右.png" alt="">
        </button>
        
    </main>
    <footer>

        <div class="footer__box">
            <button id="fisheye-btn" class="image-btn phone-btn">
                <img src="/images/indeximg/展覽魚睜眼.png" />
                <img src="/images/indeximg/展覽魚睜眼-.png" />
            </button>
        </div>

        <div class="footer__box" id="footer__nav">
            <img src="/images/indeximg/南應大.png" />
            <img src="/images/indeximg/多媒體.png" />
            <img src="/images/indeximg/112畢籌.png" />
        </div>

        <div class="footer__box">
            <a target="_blank" href="https://www.facebook.com/WonderStream108" class="phone-btn">
                <img src="/images/indeximg/FB.png" />
                <img src="/images/indeximg/FB-.png" />
            </a>

            <a target="_blank" href="https://instagram.com/matut_112?igshid=YmMyMTA2M2Y=" class="phone-btn">
                <img src="/images/indeximg/IG.png" />
                <img src="/images/indeximg/IG-.png" />
            </a>

        </div>

    </footer>

    <img id="ppdot" src="/images/indeximg/動的網點.png" />

    <div id="desc-modal" hidden>

        <button id="desc-modal__close-btn" class="image-btn">
            <img src="/images/indeximg/展場主題框框xx.png" />
        </button>

        <div id="desc-modal__content">
            <h3>
                深海微光
            </h3>
            <p>
                海洋是地球所有已知生命的起源，豐厚的資源造就了不同的生物樣貌，海洋學者認為，人類只探索了海洋中的5%，大部分未被探索的深海不透光、極為低溫、缺乏食物且水壓極大，為了生存，居住於此的海洋生物發展出許多人類未知的機制，更進化出了許多自帶光芒的生物。在一片漆黑之中，這些生物像是繁星點點、像是黑暗裡的星河，在一片險峻之地優游自在。
            </p>
            <p>
                畢業生們化身為深海中的冒險者，在這個低營養的速食文化時代，一次又一次的困境使我們的生命受到磨練，面對就業壓力以及新生代的崛起，卻也造就了大放光彩的機會，我們將帶著希望持續創作，照亮未來與他人。
            </p>
            <h3>
                shimmer in the dark
            </h3>
            <p>
                Ocean has been known as the beginning of all lives, the various faces of creatures crafted by a variety
                of resources. Oceanographer believes that humans have only explored 5% of the ocean. Beneath the
                surface, is the deep dark sea where not only the slightest gleam can reach but also extremely cold. Due
                to the pressure and lack of food, many animals found their own way to survive and create their own
                light.
            </p>
            <p>
                Among this darkness, they thrive as the stars shine in the sky.
            </p>
            <p>
                When chaos covered our time, we became the adventurer in the deep sea, breakthrough the hardest moment
                over and over again. By facing the former pressure and the upcoming future, we grabbed any chance and
                possibility to shine the brightest as we can, continually creating our work to enlighten our future and
                others with hope.
            </p>
            <div id="desc-modal__nav">
                <img src="/images/indeximg/南應大-.png" />
                <img src="/images/indeximg/多媒體-.png" />
                <img src="/images/indeximg/112畢籌-.png" />
            </div>
        </div>

    </div>


</body>

</html>